Source: deepin-gettext-tools
Section: devel
Priority: extra
Build-Depends: debhelper (>= 9),
 qt5-default, qt5-qmake,
 libdouble-conversion-dev,
 qtbase5-private-dev,
 qtdeclarative5-private-dev
Standards-Version: 3.9.5
Maintainer: Deepin Sysdev <sysdev@deepin.com>

Package: deepin-gettext-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, perl, perl-modules, libxml-libxml-perl, libxml-libxml-prettyprint-perl, libconfig-tiny-perl
Description: Deepin Internationalization utilities
