Source: deepin-gettext-tools
Section: devel
Priority: extra
Build-Depends: debhelper (>= 9), qt5-default, qt5-qmake,
               qtbase5-private-dev,
               qtdeclarative5-private-dev
Standards-Version: 3.9.5
Maintainer: 宋文武 <songwenwu@linuxdeepin.com>

Package: deepin-gettext-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: Deepin Internationalization utilities
