Source: deepin-gettext-tools
Section: devel
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5

Package: deepin-gettext-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python3, perl, libxml-libxml-perl, libconfig-tiny-perl
Description: Deepin Internationalization utilities
 Deepin Internationalization utilities
